.container {
    margin-top: 100px;
}

.container h3 {
    position: relative;
    padding-bottom: 20px;
}

.container h3::before {
    content: '';
    width: 120px;
    height: 1px;
    background-color: gray;
    position: absolute;
    bottom: 1px;
    left: calc(50% - 60px);
}